.main{
    background-color: aqua;
    color: black;
    width: 50%;
    height: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 30px;
    margin: auto;
}
.main > input{
    width: 280px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
}
.btn > button{
    padding: 10px 30px 10px 30px;
    font-size: 22px;
    font-family: cursive;
    border-radius: 20px;
    color: aliceblue;
    background-color: black;
}